In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets
from matplotlib_venn import venn2
from dstapi import DstApi
from pandas_datareader import wb

plt.rcParams.update({"axes.grid":True,"grid.color":"black","grid.alpha":"0.25","grid.linestyle":"--"})
plt.rcParams.update({'font.size': 14})

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# user written modules

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
cov = pd.read_csv('data.csv')
cov.head(15)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,165,165,165,165,165,165,165,165,165,165
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933
5,NaN,Antarctica,-71.94990,23.347000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,146,146,146,146,146,146,146,146,146,146
7,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,130463,130463,130463,130463,130463,130463,130472,130472,130472,130472
8,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,8721,8721,8721,8721,8721,8721,8721,8721,8727,8727
9,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,224,224,228,228,228,228,228,228,228,228
10,New South Wales,Australia,-33.86880,151.209300,0,0,0,0,0,0,...,6464,6464,6493,6493,6493,6493,6493,6493,6493,6529
11,Northern Territory,Australia,-12.46340,130.845600,0,0,0,0,0,0,...,90,90,90,90,90,90,90,90,90,91
12,Queensland,Australia,-27.46980,153.025100,0,0,0,0,0,0,...,2760,2760,2783,2783,2783,2783,2783,2783,2783,2783
13,South Australia,Australia,-34.92850,138.600700,0,0,0,0,0,0,...,1322,1322,1322,1322,1322,1322,1322,1322,1322,1365
14,Tasmania,Australia,-42.88210,147.327200,0,0,0,0,0,0,...,252,252,252,253,253,253,253,253,253,256

In [8]:
drop_these = ['Lat', 'Long','Province/State'] # use list comprehension to create list of columns
cov.drop(drop_these, axis=1, inplace=True) # axis = 1 -> columns, inplace=True -> changed, no copy made
cov.head(15)

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896
1,Albania,0,0,0,0,0,0,0,0,0,...,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
2,Algeria,0,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,Andorra,0,0,0,0,0,0,0,0,0,...,165,165,165,165,165,165,165,165,165,165
4,Angola,0,0,0,0,0,0,0,0,0,...,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933
5,Antarctica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Antigua and Barbuda,0,0,0,0,0,0,0,0,0,...,146,146,146,146,146,146,146,146,146,146
7,Argentina,0,0,0,0,0,0,0,0,0,...,130463,130463,130463,130463,130463,130463,130472,130472,130472,130472
8,Armenia,0,0,0,0,0,0,0,0,0,...,8721,8721,8721,8721,8721,8721,8721,8721,8727,8727
9,Australia,0,0,0,0,0,0,0,0,0,...,224,224,228,228,228,228,228,228,228,228
10,Australia,0,0,0,0,0,0,0,0,0,...,6464,6464,6493,6493,6493,6493,6493,6493,6493,6529
11,Australia,0,0,0,0,0,0,0,0,0,...,90,90,90,90,90,90,90,90,90,91
12,Australia,0,0,0,0,0,0,0,0,0,...,2760,2760,2783,2783,2783,2783,2783,2783,2783,2783
13,Australia,0,0,0,0,0,0,0,0,0,...,1322,1322,1322,1322,1322,1322,1322,1322,1322,1365
14,Australia,0,0,0,0,0,0,0,0,0,...,252,252,252,253,253,253,253,253,253,256

In [9]:
cov2 = cov.groupby(cov['Country/Region']).aggregate(np.sum)
cov2.head(15)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896
Albania,0,0,0,0,0,0,0,0,0,0,...,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
Algeria,0,0,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
Andorra,0,0,0,0,0,0,0,0,0,0,...,165,165,165,165,165,165,165,165,165,165
Angola,0,0,0,0,0,0,0,0,0,0,...,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933
Antarctica,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Antigua and Barbuda,0,0,0,0,0,0,0,0,0,0,...,146,146,146,146,146,146,146,146,146,146
Argentina,0,0,0,0,0,0,0,0,0,0,...,130463,130463,130463,130463,130463,130463,130472,130472,130472,130472
Armenia,0,0,0,0,0,0,0,0,0,0,...,8721,8721,8721,8721,8721,8721,8721,8721,8727,8727
Australia,0,0,0,0,0,0,0,0,0,0,...,19373,19373,19458,19459,19459,19459,19459,19459,19459,19574
Austria,0,0,0,0,0,0,0,0,0,0,...,21887,21891,21899,21907,21921,21922,21923,21941,21949,21970
Azerbaijan,0,0,0,0,0,0,0,0,0,0,...,10119,10119,10122,10126,10127,10129,10129,10135,10138,10138
Bahamas,0,0,0,0,0,0,0,0,0,0,...,833,833,833,833,833,833,833,833,833,833
Bahrain,0,0,0,0,0,0,0,0,0,0,...,1548,1549,1550,1552,1552,1552,1552,1553,1553,1553
Bangladesh,0,0,0,0,0,0,0,0,0,0,...,29445,29445,29445,29445,29445,29445,29445,29445,29445,29445

In [12]:
#cov2.convert_dtypes()
cov2.rename(index = {'Country/Region':'Country'}, inplace=True)
cov2.reset_index()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896
1,Albania,0,0,0,0,0,0,0,0,0,...,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
2,Algeria,0,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,Andorra,0,0,0,0,0,0,0,0,0,...,165,165,165,165,165,165,165,165,165,165
4,Angola,0,0,0,0,0,0,0,0,0,...,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
197,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198,Yemen,0,0,0,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
199,Zambia,0,0,0,0,0,0,0,0,0,...,4057,4057,4057,4057,4057,4057,4057,4057,4057,4057
200,Zimbabwe,0,0,0,0,0,0,0,0,0,...,5663,5668,5668,5668,5668,5668,5668,5668,5671,5671

In [13]:
cov2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201 entries, Afghanistan to Zimbabwe
Columns: 1143 entries, 1/22/20 to 3/9/23
dtypes: int64(1143)
memory usage: 1.8+ MB

In [14]:
print(cov2.columns)

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1143)

In [15]:
cov_long = pd.wide_to_long(df=cov2, stubnames='death',i='Country/Region', j='day')
cov_long.reset_index(inplace=True)
cov_long.head(5)

KeyError: "None of [Index(['Country/Region'], dtype='object')] are in the [columns]"

In [ ]:
import ipywidgets as widgets
def plot(cov, country): 
    I = cov['Country/Region'] == country
    ax=cov.loc[I,:].plot(x='day', y='death', style='-o', legend=False)

In [ ]:
widgets.interact(plot, 
    df = widgets.fixed(cov_long),
    country = widgets.Dropdown(description='country', 
                                    options=cov_long.'Country/Region'.unique(), 
                                    value='Afghanistan')
);

# Dataset 2

In [16]:
wb_beds = wb.download(indicator='SH.MED.BEDS.ZS', start=1960, end=2017)
wb_beds = wb_beds.rename(columns = {'SH.MED.BEDS.ZS':'beds'})
wb_beds = wb_beds.reset_index()
wb_beds.head(10)

  country  year  beds
0  Canada  2017  2.53
1  Canada  2016  2.60
2  Canada  2015  2.62
3  Canada  2014  2.67
4  Canada  2013  2.72
5  Canada  2012  2.79
6  Canada  2011  2.80
7  Canada  2010  2.78
8  Canada  2009  2.80
9  Canada  2008  2.85

In [17]:
wb_beds.year = wb_beds.year.astype(int) # convert year
wb_beds.country = wb_beds.country.astype('string') # convert country to the special pandas string type
wb_beds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  174 non-null    string
 1   year     174 non-null    int64
 2   beds     122 non-null    float64
dtypes: float64(1), int64(1), string(1)
memory usage: 4.2 KB

In [18]:
wb_beds2 = wb_beds.pivot_table('beds','country','year')
wb_beds2

year,1960,1965,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
country,,,,,,,,,,,,,,,,,,,,,
Canada,6.2,NaN,7.0,NaN,NaN,NaN,NaN,NaN,6.9,6.9,...,2.85,2.80,2.78,2.80,2.79,2.72,2.67,2.62,2.60,2.53
Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.03,1.02,1.05,1.04,1.03,1.03,1.03,1.00,1.00,0.99
United States,9.2,8.8,7.9,7.5,7.4,7.2,7.1,6.8,6.6,6.4,...,3.13,3.08,3.05,2.97,2.93,2.89,2.83,2.80,2.77,2.87

In [19]:
import ipywidgets as widgets
def plot(bed, country): 
    I = bed['country'] == country
    ax=bed.loc[I,:].plot(x='year', y='beds', style='-o', legend=False)

In [20]:
widgets.interact(plot, 
    bed = widgets.fixed(wb_beds),
    country = widgets.Dropdown(description='country', 
                                    options=wb_beds.country.unique(), 
                                    value='Canada')
);

interactive(children=(Dropdown(description='country', options=('Canada', 'Mexico', 'United States'), value='Ca…

# conmbine and merge

In [21]:
inner = pd.merge(cov2,wb_beds2,how='inner',on=['country'])

KeyError: 'country'